@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 900;
}

h2 {
  font-size: 1.275rem;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  scroll-behavior: smooth;
}

body {
  background: rgb(30, 32, 64);
  background: -moz-radial-gradient(circle, rgba(30, 32, 64, 1) 15%, rgba(0, 0, 0, 1) 85%);
  background: -webkit-radial-gradient(circle, rgba(30, 32, 64, 1) 15%, rgba(0, 0, 0, 1) 85%);
  background: radial-gradient(circle, rgba(30, 32, 64, 1) 15%, rgba(0, 0, 0, 1) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e2040", endColorstr="#000000", GradientType=1);
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.line {
  display: inline-flex;
  position: relative;
  width: 30%;
  max-width: 300px;
  min-width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  margin-left: 8px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: none;
}

ul.skills-list {
  list-style: none;
  padding: 0;
}

ul.skills-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: #4c4f8c;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#home {
  width: 100%;
}