@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  scroll-behavior: smooth;
}

body {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 100vw;
  overflow-x: hidden;
}

.bg-main {
  transform: perspective(1px);
}

.bg-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}